<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<br>

<br>

<form>

<input type="text" id="username" placeholder="username"></input>
<input type="password" id="password" placeholder="password"></input>


</form>
